APP_URL=http://localhost/corponor_resoluciones/
APP_KEY=cambie-esta-clave
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=corponor_resoluciones
MAIL_PROTOCOL=smtp
MAIL_HOST=smtp.example.com
MAIL_USER=
MAIL_PASS=
MAIL_PORT=587
MAIL_CRYPTO=tls
MAIL_FROM=no-reply@corponor.gov.co
